.fa-navicon.hamburgled.deliciously-hamburgled:before,
.fa-reorder.hamburgled.deliciously-hamburgled:before,
.fa-bars.hamburgled.deliciously-hamburgled:before,
.octicon-three-bars.hamburgled.deliciously-hamburgled:before,
.glyphicons-menu-hamburger.hamburgled.deliciously-hamburgled:before {
  content: "";
  background-image: url('chrome-extension://__MSG_@@extension_id__/hotdog.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  width: 100%;
  height: 100%;
}

.glyphicons-menu-hamburger.hamburgled.deliciously-hamburgled {
  font-size: 0 !important;
}
