.fa-navicon.hamburgled:before,
.fa-reorder.hamburgled:before,
.fa-bars.hamburgled:before,
.octicon-three-bars.hamburgled:before {
  content: "";
  background-image: url('chrome-extension://__MSG_@@extension_id__/hotdog.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  width: 100%;
  height: 100%;
}
