.header {
  padding: 40px 0;
}
.radio {
  border: 2px solid transparent;
  padding: 0 0 20px;
  border-radius: 4px;
  -webkit-transition: border-color 0.85s ease-in-out;
  -moz-transition: border-color 0.85s ease-in-out;
  -ms-transition: border-color 0.85s ease-in-out;
  -o-transition: border-color 0.85s ease-in-out;
  transition: border-color 0.85s ease-in-out;
}
.radio input {
  margin: 10px 0 20px;
}
.radio img {
  margin-bottom: 20px;
  display: inline-block;
}
.icon-options {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin: 10px auto;
}
.icon-options > * {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.icon-options .subtitle {
  width: 4em;
}
.radio.saved {
  border-color: #97cd76;
}
.footer {
  font-size: 13px;
}
.separator {
  padding: 0 1em;
}
.hidden {
  display: none;
}
td.selector {
  font-family: "Source Code Pro", "Monaco", "Inconsolata", monospace;
  font-size: 12px;
  word-break: break-word;
}
.button + .button {
  margin-left: 10px;
}
