.header {
  padding: 80px 0 40px;
}
.radio input {
  margin: 10px;
}
.radio img {
  margin-bottom: 10px;
  display: inline-block;
}
.radio {
  border: 2px solid transparent;
  padding: 0 0 10px;
  border-radius: 4px;
  -webkit-transition: border-color 0.85s ease-in-out;
  -moz-transition: border-color 0.85s ease-in-out;
  -ms-transition: border-color 0.85s ease-in-out;
  -o-transition: border-color 0.85s ease-in-out;
  transition: border-color 0.85s ease-in-out;
}
.icon-options {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.icon-options > * {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.subtitle {
  width: 4em;
}
.radio.saved {
  border-color: #97cd76;
}
