body {
  max-height: 60em;
  overflow-y: auto;
}
.title img {
  vertical-align: middle;
}
.title {
  line-height: 48px;
}
.hidden,
.button.hidden {
  display: none;
}
.host {
  font-weight: bold;
}
td.selector {
  font-family: "Source Code Pro", "Monaco", "Inconsolata", monospace;
  font-size: 12px;
  word-break: break-word;
}
.footer {
  padding: 10px 20px;
  font-size: 12px;
}
.section {
  padding: 10px 0 0;
}
.section .subtitle {
  padding: 0 20px;
  margin-bottom: 10px;
}
.button {
  display: block;
  margin-bottom: 10px;
}
.table {
  margin-bottom: 0;
}
#no-overrides-message,
#no-overrides-options-message {
  padding: 10px 20px 20px;
  margin: 0;
}
#focus-eater {
  position: absolute;
  left: -900px;
  top: -900px;
}
